extends layout

block content
  style(type='text/css').
    .wrapper{
      display: flex;
    }
    .card{
      max-width: calc(100% / 3);
      margin: 10px;
    }
    .card img{
      max-width: 100%;
      height: auto;
      padding: 10px;
    }
    .card-text{
      color: grey;
    }
    .price{
      font-weight: bold;
      font-size: 16px;
    }
    .price-tag{
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

  h1= title
  p Welcome to #{title}

  ul
    each product in products
      div.wrapper
        each item, i in product
          div.card
            img.card-img-top.img-fluid(src=item.imagePath)
            div.card-body
              h5.card-title=item.title
              p.card-text=item.description
              div.price-tag
                div.price="$"+item.price
                a.btn.btn-success(href="#") Add to cart